jpocr/ai_jpocr_venv/
jpocr/res/cut_imgs/
jpocr/res/out_*
jpocr/res/护照定位测试文件/
jpocr/res/un_upload/
jpocr/build/
jpocr/passport_py/output/
jpocr/passport_py/passport_imgs/
jpocr/passport_py/passport_pdfs/
jpocr/passport_py/to_init/
jpocr/passport_py/to_pdf/
jpocr/passport_py/to_rotate/
jpocr/visa_py/output/
jpocr/visa_py/pdfs/
jpocr/visa_py/to_*